https://www.kaggle.com/code/gpreda/credit-card-fraud-detection-predictive-models/input

In [1]:
import pandas as pd
import numpy as np

In [2]:
data_1 = pd.read_csv("creditcard-p1.csv")
data_2 = pd.read_csv("creditcard-p2.csv")
data_1.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
data_2.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,83479.0,-1.990645,1.227519,1.084672,2.713392,0.631167,1.003947,-0.445157,-2.492699,-1.935903,...,-1.645095,-0.466591,0.668872,-0.403155,-0.025581,-0.042761,-0.230572,0.116352,27.26,0
1,83479.0,1.167944,-0.358123,0.256857,-0.156022,-0.518942,-0.204091,-0.345445,0.121323,0.335252,...,-0.230213,-0.926484,0.028407,-0.510294,0.007567,0.776736,-0.093204,0.002241,64.00,0
2,83479.0,-2.477837,1.976905,-0.875100,-2.848440,1.796944,3.071342,-0.171319,1.196707,1.233896,...,-0.337902,-0.636060,-0.015409,1.007405,0.160573,0.726226,0.560625,0.331128,7.30,0
3,83480.0,-1.777184,1.251453,0.167778,0.763972,-0.071377,-0.033857,-0.195311,0.946284,-0.755010,...,0.225940,0.594857,0.163308,-0.313126,-0.199419,-0.300995,-0.154732,0.054033,14.94,0
4,83481.0,1.411270,-0.490732,-0.640255,-0.885712,-0.005750,0.241326,-0.562009,0.053089,-0.768722,...,-0.125183,-0.430188,-0.262514,-1.459480,0.666419,-0.214861,0.010388,0.015473,41.14,0

In [5]:
data = pd.concat([data_1, data_2], ignore_index=True)
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
data.shape

(284807, 31)